.option-disabled{
    background-color: #fff;
    color: teal;
}

.frameOverflow{
    overflow: auto;
    max-height: 300px;
}

.frameOverflow-large{
    overflow: auto;
    max-height: 150px;
}

.unfold-text{
    height: 100px;
}

label.error{
    color:#a94442;
}

.list > dt+dd{
    display: inline-table;
}
.list > dd{
    margin-left:20px;
}

.timeline-panel{
    width: 100%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}