.option-disabled{
    background-color: #fff;
    color: teal;
}

.frameOverflow{
    overflow: auto;
    max-height: 300px;
}

.frameOverflow-large{
    overflow: auto;
    max-height: 150px;
}

.unfold-text{
    height: 100px;
}